## 要素
* 知らない間に@主人公は@ヒロインに惹かれていた。
* けど彼女は私のことを大人と認識してくれない
* @主人公は人一倍苦労していた。大人の汚さも分かっていた。
* けど@ヒロインは大人と認識してくれない。
* そして別れが来てしまった
* 切ない話
## 設定
## 肝
## キャラ設定

1.@主人公

一般家庭で育った人間。

ハーフだからいじめられていた。

醜形恐怖症, 自律神経失調症を持っている。

洞察力がある, 実際のところ教養もあり頭が良いがそうは見えない。

話した方などでチャラく見えてしまう。

内面と外行のギャップに苦しめられる。

観察能力に優れていて、少し話しただけでどういう人なのかが判別がつく。

2.＠ヒロイン
